$lightColor: #fff;

@mixin text($fontSize, $fontWeight, $lineHeight, $color) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  color: $color;
}


.currentWeather {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
}

.colLeft {
  width: 50%;
  @media (max-width: 767px) {
    width: 100%;
    margin-top: 30px;
  }
}

.colLeftInner {
  position: relative;
  width: 300px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  @media (max-width: 400px) {
    width: auto;
  }
}

.colRight {
  width: 50%;
  @media (max-width: 767px) {
    width: auto;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
}

.currentWeatherImg {
  position: absolute;
  left: -40px;
  top: -52px;
  filter: brightness(0) invert(1);
  width: 150px;
  opacity: 0.15;
  @media (max-width: 400px) {
    left: 0;
  }
}

.largeText {
  text-align: center;
  margin: 0;
  @include text(140px, 700, 1, $lightColor);
  @media (max-width: 400px) {
    font-size: 100px;
  }
}

.bigText {
  text-align: center;
  margin: 0;
  @include text(30px, 300, 1, $lightColor);
}

.currentWeatherItem {
  > span {
    padding-left: 10px;
    padding-right: 7px;
    color: rgba($lightColor, 0.4);
  }
}

.icon {
  color: rgba($lightColor, 0.4);
}